atomicwrites==1.4.0
attrs==21.4.0
black==22.3.0
click==8.1.3
colorama==0.4.5
cycler==0.11.0
-e .
Flask==2.1.2
fonttools==4.33.3
iniconfig==1.1.1
itsdangerous==2.1.2
Jinja2==3.1.2
joblib==1.1.0
kiwisolver==1.4.3
MarkupSafe==2.1.1
matplotlib==3.5.2
mypy==0.961
mypy-extensions==0.4.3
nltk==3.7
numpy==1.23.0
packaging==21.3
pathspec==0.9.0
Pillow==9.1.1
platformdirs==2.5.2
pluggy==1.0.0
py==1.11.0
pyparsing==3.0.9
pytest==7.1.2
python-dateutil==2.8.2
regex==2022.6.2
six==1.16.0
tomli==2.0.1
tqdm==4.64.0
typing_extensions==4.2.0
Werkzeug==2.2.3
WTForms==3.0.1
